# Compiled class file
*.class

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Directory for staging data
data/

# All tmp dirs
**/tmp/

# IDE
.idea/

# Exclude
/bash/git/
/bash/sapcc/
